*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

:root{
    --full-black : #000;
    --color-black : #111;
    --color-gray: #444;
    --color-white: #fff;
    --background: #888888;
}

html, body{
    background: var(--background);
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    width: 230px;
    background: var(--color-white);
    padding: 25px 18px;
    position: relative;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: #11111131 0px 0px 15px;
    overflow: hidden;
}

.card .color{
    position: absolute;
    background: var(--color-black);
    width: 100%;
    height: 40%;
    left: 0;
    top: 0;
    border-radius: 0px 0px 100% 100%;
}

.card img{
    width: 170px;
    height: 220px;
    margin: auto;
    margin-top: 33px;
    z-index: 10;
}

.card h1{
    font-size: 1.3em;
    text-align: center;
    margin: 20px 0px;
}
.card .life{
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    background: var(--color-white);
    padding: 6px;
    border-radius: 33px;
    top: 12px;
    right: 12px;
}

.card .life span{
    font-size: 15px;
}

.card .type{
    margin: auto;
    background: var(--color-black);
    padding: 5px 10px;
    border-radius: 60px;
    color: var(--color-white);
    font-weight: 600;
    font-size: .6em;
    margin-bottom: 22px;
}

.card .att_deff_spp{
    display: flex;
    justify-content: space-between;
}

.card .att_deff_spp .power{
    text-align: center;
    font-weight: 600;
    font-size: .9em;
}

.card .att_deff_spp .power span{
    font-weight: 400;
    color: var(--color-gray);
    font-size: .8em;
}

#btn-generate{
    background: var(--full-black);
    color: var(--background);
    padding: 13px 39px;
    border-radius: 5px;
    font-size: .8em;
    border: none;
    margin-top: 18px;
    cursor: pointer;
    transition: .2s;
    opacity: .87;
}

#btn-generate:hover{
    background: var(--full-black);
    opacity: 1ss;
}